.container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin-bottom: 20px;
    
  }

.containerForm {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.213);
}

form {
    width: 100%;
    padding: 20px 20px 5px 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
}

input {
    color: #8f8f8f;
    font-size: 14px;
    margin-bottom: 15px;
    border: none;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.266);
}

input:focus {
    outline: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.698);
}

.buttons {
    margin-bottom: 20px;
}

.btn {
    margin-right: 12px;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: rgb(232, 53, 8);
    color: white;
    -webkit-transition-duration: 0.5s;
    /* Safari */
    transition-duration: 0.4s;
}

.btn:hover {
    transition: 0.5s;
    box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
    background-color: #ffffff;
    border: 1px solid rgb(232, 53, 8);
    color: rgb(24, 24, 24);
}

.btnCancel {
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    border: 1px solid var(--sweetPurpleColor);
    color: rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.btnCancel:hover {
    transition: 0.5s ease-in-out;
    background: #fff;
    border: 1px solid var(--sweetPurpleColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}